@media all and (max-width: 767px) {

	html {
		font-size: 7px;
	}

	/*header*/
	header {
		padding: 20px 0;
	}

	.logo img {
		width: 140px;
	}

	/*sidebar */
	#sidebar {
		display: block;
		position: fixed;
		top: 0px;
		right: -60vw;
		width: 60vw;
		height: 100%;
		background: #fff;
		z-index: 50;
		transition: all 0.3s;
	}

	.sidebar_inner .close {
		position: absolute;
		top: 18px;
		right: 9.5%;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	#sidebar_gnb>li>a {
		display: inline-block;
		width: 100%;
		padding-bottom: 20px;
		font-size: 2.6rem;
		letter-spacing: -.5px;
		text-transform: uppercase;
	}

	.gnb_submenu>li>a {
		display: inline-block;
		font-size: 1.8rem;
		color: #666;
		padding: 5px 10px;
		line-height: 1.3;
	}

	/*main_top*/
	#main_top {
		width: 100%;
		height: 70vh;
		margin-bottom: 60px;
		/*header값줘서 겹친 만큼 margin으로 밀어내기*/
	}

	#main_top_inner {
		width: 100%;
		position: fixed;
		left: 0;
		top: 60px;
		/*header 높이 값*/
	}

	#main_top .text_wrap .title {
		position: absolute;
		top: -120px;
		left: 50%;
		transform: translateX(-50%);
		font-size: calc(7.63vw + 7.37px);
		letter-spacing: 3px;
		font-weight: 500;
	}

	#main_top .text_wrap .txt {
		display: none;
	}

	/*section*/
	section {
		width: 100%;
		padding-bottom: 70px;
		background-color: #fff;
		position: relative;
	}

	#sect01 {
		padding-top: 70px;
	}

	#sect02 .txt,
	#sect04 .txt,
	#sect06 .txt {
		padding: 50px 0;
	}

	#sect01 .txt,
	#sect03 .txt,
	#sect05 .txt {
		padding: 50px 0;
	}

	/*footer*/
	footer .inner {
		display: flex;
		justify-content: space-between;
		padding: 50px 0;
	}

	footer .left_wrap p {
		margin: 10px 0;
	}

	footer .left_wrap address {
		font-style: normal;
	}

	.right_wrap_inner {
		display: flex;
		justify-content: flex-start;
		margin-top: 0px;
		margin-left: 30px;
	}

	.right_wrap_inner li {
		padding-bottom: 10px;
	}

	.right_wrap_inner #company_box {
		margin: 0 25px;
	}

	.right_wrap_inner #social_box i {
		font-size: 15px;
		margin-bottom: 5px;
	}

}