@media all and (max-width: 1023px) {

	html {
		font-size: 8px;
	}

	/*header*/
	header {
		padding: 28px 0;
	}

	header .inner {
		position: relative;
		max-width: 89vw;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.mo_search {
		display: block;
		position: absolute;
		left: 0;
		top: -1px;
	}

	.mo_search i {
		font-size: 2.7rem;
		color: #fff;
	}

	.logo img {
		width: 170px;
	}

	#gnb {
		display: none;
	}

	#account {
		display: none;
	}

	/*sidebar*/
	.sidebar_btn {
		position: absolute;
		display: block;
		right: 0;
		top: 0;
		width: 20px;
		height: 16px;
	}

	.sidebar_btn button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: none;
		background: none;
		cursor: pointer;
		outline: none;
		text-indent: -9999em;
	}

	.sidebar_btn button::before {
		width: 100%;
		content: '';
		display: block;
		top: 0;
		transition: all 0.3s;
	}

	.sidebar_btn button.color::before {
		background: #111;
	}

	.sidebar_btn button span {
		display: block;
		width: 100%;
		top: 50%;
		margin-top: -2px;
		opacity: 1;
		transition: all 0.3s;
	}

	.sidebar_btn button::after {
		width: 70%;
		content: '';
		display: block;
		top: 12px;
		transition: all 0.3s;
	}

	.sidebar_btn button.color::after {
		background: #111;
	}

	.sidebar_btn button span,
	.sidebar_btn button::before,
	.sidebar_btn button::after {
		border-radius: 2px;
		overflow: hidden;
		position: absolute;
		left: 0;
		height: 3px;
		background: #fff;
	}

	/*sidebar */
	#sidebar {
		display: block;
		position: fixed;
		top: 0px;
		right: -45vw;
		width: 45vw;
		height: 100%;
		background: #fff;
		z-index: 50;
		transition: all 0.3s;
	}

	#sidebar.on {
		right: 0vw;
	}

	.sidebar_inner {
		position: relative;
	}

	.sidebar_inner .close {
		position: absolute;
		top: 25px;
		right: 12.5%;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}

	.sidebar_inner .close:before,
	.close:after {
		position: absolute;
		left: 20px;
		content: ' ';
		height: 20px;
		width: 3px;
		background-color: #111;
		border-radius: 2px;
	}

	.sidebar_inner .close:before {
		transform: rotate(45deg);
	}

	.sidebar_inner .close:after {
		transform: rotate(-45deg);
	}

	.sidebar_inner #sidebar_gnb {
		position: absolute;
		top: 80px;
		left: 50px;
	}

	#sidebar_gnb>li>a {
		display: inline-block;
		width: 100%;
		padding-bottom: 25px;
		font-size: 2.4rem;
		font-weight: 300;
		letter-spacing: -.5px;
		text-transform: uppercase;
	}

	#sidebar_gnb>li>a:hover {
		font-weight: 400;
		color: #000;
	}

	.gnb_submenu {
		padding-bottom: 30px;
	}

	.gnb_submenu>li>a {
		display: inline-block;
		font-size: 1.8rem;
		font-weight: 300;
		color: #666;
		padding: 7px 10px;
		line-height: 1.3;
	}

	.gnb_submenu .all {
		font-weight: 500;
	}

	.gnb_submenu>li>a:hover {
		color: #000;
	}

	#sidebar_bg {
		position: fixed;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 40;
	}

	/*main_visual*/
	.pc_slide_group .pc_slide {
		width: 100%;
		height: 80vh;
		overflow: hidden;
	}

	.pc_slide_group .pc_slide img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/*sect01*/
	#sect01 .text {
		width: 600px;
	}

	/*sect03*/
	#sect03 .text2 {
		display: inline-block;
		width: 250px;
		height: auto;
		margin-top: 20px;
	}

	#sect03 .more_box {
		position: absolute;
		right: 0;
		bottom: 4vw;
		display: inline-block;
		padding: 15px 50px;
		border: 1px solid #111;
		transition: all .5s;
	}

	/*sect04*/
	#sect04 {
		width: 100%;
		height: 1200px;
		background: #a5aeac;
	}

	#sect04 .title2 {
		position: absolute;
		left: 15%;
	}

	#sect04 .text2 {
		width: 250px;
		position: absolute;
	}

	#sect04 .more_box {
		position: absolute;
		top: 180px;
		display: inline-block;
		padding: 1.5% 5%;
		border: 1px solid #111;
		transition: all .5s;
	}

	#sect04 .content_top {
		position: absolute;
		right: 0;
		top: 270px;
		transition: all 1s;
	}

	#sect04 .content_left {
		position: absolute;
		left: 0;
		top: 700px;
	}

	#sect04 .content_right {
		position: absolute;
		right: 0;
		top: 700px;
	}

	#sect04 .content_top .img_box {
		width: 50vw;
		height: auto;
	}

	#sect04 .content_left .img_box {
		width: 33.3vw;
		height: auto;
	}

	#sect04 .content_right .img_box {
		width: 45.8vw;
		height: auto;
	}

	/*footer*/
	footer {
		height: auto;
	}

	footer .inner {
		display: flex;
		justify-content: space-between;
		padding: 70px 0;
	}

	footer .left_wrap .logo_icon img {
		width: 30px;
		height: auto;
	}

	footer .left_wrap p {
		margin: 15px 0;
	}

	footer .left_wrap address {
		font-style: normal;
	}

	footer #mo_sign_up {
		display: inline-block;
		font-weight: 500;
		text-decoration: underline;
		text-underline-position: under;
	}

	.right_wrap .login_box {
		display: none;
	}

	.right_wrap_inner {
		display: flex;
		justify-content: flex-start;
		margin-top: 0px;
		margin-left: 0px;
	}

	.right_wrap_inner li {
		padding-bottom: 15px;
	}

	.right_wrap_inner #company_box {
		margin: 0 6vw;
	}

	.right_wrap_inner #social_box a {
		margin-right: 5px;
	}

	.right_wrap_inner #social_box i {
		font-size: 15px;
	}

}